.search-bar {
    width: calc(100% - 50px); /* Subtrai 25px de cada lado */
    padding: 10px;
    box-sizing: border-box;
    margin: 100px 25px 20px; /* Margem de 100px em cima, 25px dos lados, 20px em baixo */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    background-color: #f5f5f5; /* Adiciona uma cor de fundo clara */
    outline: none; /* Remove o contorno ao focar */
}

input[type="number"] {
    width: 50px;
    margin: 10px 0;
    padding: 5px;
    font-size: 14px;
  }
  
.container {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 165px);
  }
  
  .column {
    background-color: #F5F5DC;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .text {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text h2 {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .text p {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
  }
  
  .button {
    background-color: #FFB6C1;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media screen and (min-width: 769px) {
    .column {
      flex-direction: row;
      height: 300px;
    }
  
    .image {
      width: 200px;
      height: 80%;
    }
  
    .button {
      width: auto;
      height: auto;
      margin-top: 0;
    }
  }
  