.footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-between; /* Separa a imagem e o texto */
}

.footer-content {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 50%; /* Limita o tamanho do conteúdo do texto */
}

.footer-logo {
max-width: 450px; /* Tamanho da imagem no desktop */
width: 100%; /* Garante responsividade em telas menores */
height: auto;
}

.footer-credits {
font-size: 15px;
font-weight: bold;
}

@media screen and (max-width: 768px) {
.footer {
  flex-direction: column;
  text-align: center;
}

.footer-content {
  max-width: 100%;
  margin-top: 10px;
}

.footer-logo {
  width: 60%; /* Tamanho da imagem ajustado para mobile */
}

.footer-credits {
  font-size: 10px;
  margin-top: 10px;
}
}
